- name: Load OS-specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_facts['os_family'] }}.yml"

- name: Install Desktop Environment packages
  ansible.builtin.package:
    name: "{{ desktop_packages }}"
    state: present
