- name: Test connectivity and show OS distribution
  ansible.builtin.debug:
    msg: "Starting setup for {{ ansible_facts['distribution'] }} on {{ inventory_hostname }}"

- name: Load OS-specific variables
  ansible.builtin.include_vars:
    file: "{{ ansible_facts['os_family'] }}.yml"

- name: Update package cache and install Common packages
  ansible.builtin.package:
    name: "{{ common_packages }}"
    state: present

- name: Configure WiFi
  ansible.builtin.include_tasks: wifi.yml
