- name: Ensure NetworkManager is installed
  ansible.builtin.package:
    name: networkmanager
    state: present

- name: Ensure NetworkManager service is running
  ansible.builtin.service:
    name: NetworkManager
    state: started
    enabled: yes

- name: Configure WiFi Connection
  community.general.nmcli:
    type: wifi
    conn_name: "{{ wifi_ssid }}"
    ssid: "{{ wifi_ssid }}"
    psk: "{{ wifi_password }}"
    state: present
  no_log: true  # CRITICAL: Don't show the password in logs!
  when: wifi_ssid is defined and wifi_password is defined
